<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Input Book</title>
</head>
<body th:fragment="content">
<div class="col-sm-12">
    <form method="post" action="/book2/delete">
        <div class="form-group">
            <label>Book Name: </label><label th:text="${book.bookName}"></label>
            <input type="hidden" name="id" th:value="${book.id}"/>
        </div>
        <div class="form-group">
            <label>Price: </label><label th:text="${book.price}"></label>
        </div>
        <div class="form-group">
            <label>Author Name: </label><label th:text="${book.authorName}"></label>
        </div>
        <div class="form-group">
            <label>Published Date: </label><label th:text="${book.publishedDate}"></label>
        </div>
        <div class="form-group">
            <button class="btn btn-danger">Confirm Delete Book</button>
            <p><a href="/book2/index">Back to list</a></p>
        </div>
    </form>
</div>
</body>
</html>
