<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Book Management</title>
</head>
<body th:fragment="content">
<div class="col-sm-12">
    <a href="/book/input"><button class="btn btn-success">Add new book</button></a>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Book Name</th>
          <th>Price</th>
          <th>Author Name</th>
          <th>Published Date</th>
        </tr>
      </thead>
      <tbody>
    <!--          <tr>
          <td><span th:text="${index}"></span></td>
          <td><span th:text="${book.bookName}"></span></td>
          <td><span th:text="${book.price}"></span></td>
          <td><span th:text="${book.authorName}"></span></td>
          <td><span th:text="${book.publishedDate}"></span></td>
        </tr>-->
        <tr th:each="item, iterStat : ${dataList}">
          <td><span th:text="${iterStat.index + 1}"></span></td>
          <td><span th:text="${item.bookName}"></span></td>
          <td><span th:text="${item.price}"></span></td>
          <td><span th:text="${item.authorName}"></span></td>
          <td><span th:text="${item.publishedDate}"></span></td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
